td, th{
  text-align: center;
}

.pagination {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
}
  
.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
