    <h4 class="mb-4 text-center" style="margin-top: 20px;">Manufacturer informations</h4>
    
    <div class="input-group my-3">
      <input [(ngModel)]="searchManufacturer" (input)="applyFilter()" type="text" class="form-control" placeholder="Search by vehicle manufacturer">
    </div>
    
    <!-- Tabela -->
    <table class="table table-bordered table-striped text-primary">
        <thead class="table-light">
        <tr>
          <th>#</th>
          <th>MANUFACTURER</th>
          <th>ADDRESS</th>
          <th>COUNTRY</th>
          <th>TELEPHONE</th>
          <th>EMAIL ADDRESS</th>
          <th>FAX</th>
          <th>PRODUCED VEHICLES</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredManufacturers; let i = index">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ item.manufacturer.name }}</td>
          <td>{{ item.manufacturer.address }}</td>
          <td>{{ item.manufacturer.country }}</td>
          <td>{{ item.manufacturer.telephone }}</td>
          <td>{{ item.manufacturer.email }}</td>
          <td>{{ item.manufacturer.fax }}</td>
          <td>{{ item.numberOfProducedVehicles }}</td>
          <td>
            <button class="btn btn-info btn-sm mx-2" (click)="updateManufacturer(item)"> UPDATE </button>
            <button class="btn btn-danger btn-sm" (click)="deleteManufacturer(item)"> DELETE </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginacija -->
    <div class="d-flex justify-content-center mt-3">
        <button 
          *ngFor="let page of createPageArray(); let i = index"
          class="btn btn-outline-primary mx-1"
          [class.active]="i + 1 === currentPage"
          (click)="onPageChange(i + 1)">
          {{ i + 1 }}
        </button>
      </div>

      <!-- Dugme Add Employee -->
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-success" (click)="addManufacturer()">Add manufacturer</button>
    </div>


    <div class="modal fade" id="manufacturerModal" tabindex="-1" aria-labelledby="manufacturerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="manufacturerModalLabel">{{ isEditMode ? 'Update manufacturer' : 'Add manufacturer' }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="manufacturerForm">
                <div class="mb-3">
                  <label for="name" class="form-label">MANUFACTURER NAME</label>
                  <input type="text" id="name" class="form-control" formControlName="name" />
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label">ADDRESS</label>
                  <input type="text" id="address" class="form-control" formControlName="address" />
                </div>
                <div class="mb-3">
                  <label for="country" class="form-label">COUNTRY</label>
                  <input type="text" id="country" class="form-control" formControlName="country" />
                </div>
                <div class="mb-3">
                  <label for="telephone" class="form-label">TELEPHONE</label>
                  <input type="text" id="telephone" class="form-control" formControlName="telephone" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">EMAIL</label>
                    <input type="email" id="email" class="form-control" formControlName="email" />
                  </div>
                  <div class="mb-3">
                    <label for="fax" class="form-label">FAX</label>
                    <input type="text" id="fax" class="form-control" formControlName="fax" />
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ isEditMode ? 'Update' : 'Add' }}</button>
            </div>
          </div>
        </div>
      </div>