<div class="container-fluid text-start w-100 mt-2"> 
  <h3 class="mb-4 text-center">Users informations</h3>
  
  <ul class="nav nav-tabs mb-3 justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-center" [ngClass]="{'active bg-primary text-white': activeTab === 'clients'}" (click)="changeTab('clients')">
        Clients
      </a>
    </li>
      
    <li *ngIf="role === 'admin' || role === 'manager'" class="nav-item">
      <a class="nav-link text-center" [ngClass]="{'active bg-primary text-white': activeTab === 'employees'}" (click)="changeTab('employees')">
        Employees
      </a>
    </li>
  </ul>

  <!-- Search bar -->
  <div class="input-group my-3">
    <input [(ngModel)]="searchUser" (input)="applyFilter()" type="text" class="form-control" placeholder="Search by first name">
  </div>
  
  <table class="table table-bordered table-striped text-primary">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>USERNAME</th>
        <th>STATUS - BLOCKED</th>
        <th *ngIf="activeTab === 'clients'">DOCUMENT ID</th>
        <th *ngIf="activeTab === 'clients'">EMAIL ADDRESS</th>
        <th *ngIf="activeTab === 'clients'">TELEPHONE</th>
        <th *ngIf="activeTab === 'clients'">PICTURE</th>
        <th *ngIf="activeTab === 'employees'">ROLE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredUsers; let i = index">
        <td>{{ currentPage * itemsPerPage + i + 1 }}</td>
        <td>{{ item.user.firstName }}</td>
        <td>{{ item.user.lastName }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.user.isBlocked ? 'Yes' : 'No' }}</td>
        <td *ngIf="activeTab === 'clients'">{{ item.documentId }}</td>
        <td *ngIf="activeTab === 'clients'">{{ item.email }}</td>
        <td *ngIf="activeTab === 'clients'">{{ item.telephone }}</td>
        <td *ngIf="activeTab === 'clients'">
          <img [src]="'data:image/jpeg;base64,' + item.picture" alt="Client Picture" class="img-thumbnail" style="width: 65px; height: 65px;">
        </td>
        <td *ngIf="activeTab === 'employees' && (role === 'admin' || role === 'manager')">{{ item.role }}</td>
        <td>
          <button *ngIf="item.user.isBlocked" class="btn btn-info btn-sm" (click)="openBlockModal(item)">UNBLOCK</button>
          <button *ngIf="!item.user.isBlocked" class="btn btn-info btn-sm" (click)="openBlockModal(item)">BLOCK</button>
          <button *ngIf="activeTab === 'employees' && (role === 'admin' || role === 'manager')" class="btn btn-info btn-sm mx-2" (click)="updateEmployee(item)">
            UPDATE
          </button>
          <button *ngIf="activeTab === 'employees' && (role === 'admin' || role === 'manager')" class="btn btn-danger btn-sm" (click)="deleteEmployee(item)">
            DELETE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Paginacija -->
  <div class="d-flex justify-content-center mt-3">
    <button  *ngFor="let page of createPageArray(); let i = index" class="btn btn-outline-primary mx-1" 
                        [class.active]="i + 1 === currentPage" (click)="onPageChange(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
  
  <!-- Dugme Add Employee -->
  <div *ngIf="role !== 'operator' && activeTab !== 'clients'" class="d-flex justify-content-center mt-4">
    <button class="btn btn-success" (click)="addEmployee()">Add Employee</button>
  </div>
</div>

<!-- Modal za blokiranje/deblokiranje korisnika -->
<div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="blockUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="blockUserModalLabel">Action confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to {{ selectedUser?.user.isBlocked ? 'unblock' : 'block' }} user <strong>{{ selectedUser?.user.firstName }} {{ selectedUser?.user.lastName }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmBlockAction()">Confirm</button>
      </div>
    </div>
  </div>
</div>
  
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">{{ isEditMode ? 'Update Employee' : 'Add Employee' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" />
          </div>
            
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" />
          </div>
            
          <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" id="userName" class="form-control" formControlName="userName" />
          </div>
            
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" />
          </div>
            
          <div class="mb-3 form-check">
            <input type="checkbox" id="isBlocked" class="form-check-input" formControlName="isBlocked" />
            <label class="form-check-label" for="isBlocked">Is Blocked</label>
          </div>
            
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" formControlName="role">
              <option value="manager">Manager</option>
              <option value="admin">Admin</option>
              <option value="operator">Operator</option>
            </select>
          </div>
        </form>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ isEditMode ? 'Update' : 'Add' }}</button>
      </div>
    </div>
  </div>
</div>